* {
  margin: 0;
  padding: 0; }

.header {
  background-color: whitesmoke; }

.logo {
  height: 80px; }

.nav-link {
  font-family: "Bebas Neue"; }

.footer {
  background-color: whitesmoke;
  height: fit-content; }
  .footer__sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .footer__sec__ssn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .footer__sec__ssn img {
        width: 300px; }
      .footer__sec__ssn h6 {
        font-family: "Open Sans"; }
    .footer__sec__redes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly; }
      .footer__sec__redes a {
        margin: 10px 50px 10px 0px; }
      .footer__sec__redes img {
        height: 50px; }

.imagen__h2 {
  text-align: center;
  padding: 20px;
  letter-spacing: 5px;
  color: #fec82f;
  font-family: "Bebas Neue";
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.432); }

.imagen__h4 {
  text-align: center;
  padding: 5px;
  letter-spacing: 2px;
  font-family: "Bebas Neue";
  background-color: rgba(245, 245, 220, 0.418); }

.titulo__linea {
  height: auto;
  margin: 10px 0px 10px 0px;
  background-color: #003e55; }
  .titulo__linea h4 {
    font-family: "Open Sans";
    text-align: center;
    padding: 5px;
    letter-spacing: 0px;
    color: whitesmoke;
    font-size: 24px; }

.accordion-button {
  font-family: "Open Sans";
  font-size: 20px; }

.accordion-body {
  font-family: "Open Sans";
  font-size: 16px; }

.boton__cotizacion {
  width: fit-content;
  background-color: white;
  border: solid 2px black;
  padding: 10px 20px;
  margin: 30px;
  position: relative;
  left: 35%; }
  .boton__cotizacion a {
    font-family: "Open Sans";
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px; }

.boton__cotizacion a:hover {
  color: red; }

@media only screen and (max-width: 768px) {
  .footer__sec__ssn img {
    width: 250px; }
  .footer__sec__redes a {
    margin-right: 15px; }
  .boton__cotizacion {
    position: relative;
    left: 0%; } }

.carousel-item {
  height: 400px; }
  .carousel-item img {
    height: 400px; }

.card__item {
  border: solid 1px black;
  background-color: #fec72f58;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .card__item a {
    font-family: "Bebas Neue";
    text-decoration: none;
    color: #003e55;
    font-size: 20px; }
  .card__item img {
    height: 70px; }

.card__item a:hover {
  transform: scale(1.2); }

.quienesSomos {
  height: fit-content;
  background-color: whitesmoke;
  font-family: "Open Sans";
  text-align: center;
  padding: 30px 200px;
  letter-spacing: 0px; }
  .quienesSomos p {
    font-weight: bold; }

.formulario {
  background-color: #003e55;
  color: whitesmoke;
  font-family: "Open Sans";
  height: fit-content;
  text-align: center;
  padding: 20px;
  letter-spacing: 0px; }

.form__item {
  padding: 10px; }
  .form__item textarea {
    resize: none; }
  .form__item__button {
    border-radius: 5px;
    padding: 5px; }

@media only screen and (max-width: 768px) {
  .carousel-item {
    height: 250px; }
    .carousel-item img {
      height: 250px; }
  .quienesSomos {
    padding: 20px; } }

.cedasaba {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px; }
  .cedasaba h4 {
    font-family: "Bebas Neue";
    letter-spacing: 5px; }
  .cedasaba img {
    height: 100px; }

.banner__agro {
  background-image: url("../Imagenes/agro.jpg");
  height: 400px;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  .banner__agro {
    height: 300px; } }

.auditoria__text {
  margin: 20px;
  font-family: "Open Sans";
  font-size: 20px; }

.auditoria__aviso {
  font-weight: bolder;
  border: solid 3px #003e55;
  text-align: center;
  padding: 10px;
  letter-spacing: 0px; }

.banner__auditoria {
  background-image: url("../Imagenes/relevamiento.jpg");
  height: 400px;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  .banner__auditoria {
    height: 300px; } }

.banner__empresa {
  background-image: url("../Imagenes/paratuempresa.jpg");
  height: 400px;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  .banner__empresa {
    height: 300px; } }

.banner__vos {
  background-image: url("../Imagenes/paravos.jpg");
  height: 400px;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  .banner__vos {
    height: 300px; } }

.banner__cotizacion {
  background-image: url("../Imagenes/cotizacion.jpg");
  height: 400px;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  .banner__cotizacion {
    height: 300px; } }

.aclaracion {
  color: #fec82f;
  text-align: left;
  margin: 0px; }

.banner__productores {
  background-image: url("../Imagenes/productores.jpg");
  height: 400px;
  background-size: cover; }

@media only screen and (max-width: 768px) {
  .banner__productores {
    height: 300px; } }

.gracias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px; }
  .gracias h3 {
    font-family: "Bebas Neue";
    letter-spacing: 5px;
    color: #003e55; }
  .gracias a {
    text-decoration: none;
    color: #fec82f;
    font-size: 20px; }
