.cedasaba{
    @include flexbox (row, center);
    flex: wrap;
    margin: 15px;
    h4{
        font-family: map-get($fonts, titulo);
        font-weight: lighter;
        letter-spacing: 5px;
    }
    img{
        height: 100px;
    }
}


