.cedasaba{
    @include flexbox (row, center);
    margin: 15px;
    h4{
        font-family: map-get($fonts, titulo);
        letter-spacing: 5px;
    }
    img{
        height: 100px;
    }
}

.banner__agro{
    @include banner (url("../Imagenes/agro.jpg"));
}
@media only screen and (max-width: 768px){
    .banner__agro{
        height: 300px;
    }
}   