.auditoria{
    @include banners (url(/Imagenes/relevamiento.jpg));

    &__text{
        margin: 20px;
        font-family: map-get($fonts,texto);
        font-size: map-get($tamanio-tipografia, subtitulo);
    }
    &__aviso{
        font-weight: bolder;
        border:solid 3px map-get($colores, principal);    
        padding: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 768px){
    .auditoria{
        height: 300px;
    }
}