.auditoria{
    &__text{
        margin: 20px;
        font-family: map-get($fonts,texto);
        font-size: map-get($tamanio-tipografia, subtitulo);
    }
    &__aviso{
        font-weight: bolder;
        border:solid 3px map-get($colores, principal);   
        @include textCenter (10px, 0px);
    }
}

.banner__auditoria{
    @include banner (url("../Imagenes/relevamiento.jpg"));
}
@media only screen and (max-width: 768px){
    .banner__auditoria{
        height: 300px;
    }
}  

