.banner__cotizacion{
    @include banner (url("../Imagenes/cotizacion.jpg"));
}
@media only screen and (max-width: 768px){
    .banner__cotizacion{
        height: 300px;
    }
}   

.aclaracion{
    color: map-get($colores, secundario);
    text-align: left;
    margin: 0px;
}
