*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: map-get($colores, fondo);
}

.logo{
    height: 80px;
}

.nav-link{
    font-family: map-get($fonts, titulo);
}

.footer{
    background-color: map-get($colores, fondo);
    height: fit-content;
    &__sec{
        @include flexbox (row, space-evenly);
        flex-wrap: wrap;
        &__ssn{
            @include flexbox (column, center);
            img{
                width: 300px;
            }
            h6{
                font-family: map-get($fonts, texto);                
            }
        } 
        &__redes{
            @include flexbox (row, space-evenly);
            a{
                margin: 10px 50px 10px 0px;
            }
            img{
                height: 50px;
            }
        }       
    }
}

.banner{
    position: relative;
    &__img{
        position: relative;
        height: 400px;
    }
}
.imagen{
    &__texto{
        position: absolute;
    }
    &__h2{
        color: map-get($colores, secundario);
        font-family: map-get($fonts, titulo);
        letter-spacing: 5px;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 20px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.432)
    }
    &__h4{
        font-family: map-get($fonts, titulo);
        font-weight: lighter;
        letter-spacing: 3px;
        text-align: center;
        background-color: rgba(245, 245, 220, 0.418);
        padding: 5px;        
    }
}

.titulo{
    &__linea{
        height: auto;
        margin: 10px 0px 10px 0px;
        background-color: map-get($colores, principal);
        h4{
            font-family: map-get($fonts, texto);
            text-align: center;
            padding: 5px;
            color: map-get($colores, fondo);
            font-size: map-get($tamanio-tipografia, titulo);  
        } 
    }
}
.accordion-button{
    font-family: map-get($fonts, texto);
    font-size: map-get($tamanio-tipografia, subtitulo);
}
.accordion-body{
    font-family: map-get($fonts, texto);
    font-size: map-get($tamanio-tipografia, parrafo);
}

.boton__cotizacion{
    width: fit-content;
    background-color: white;
    border: solid 2px black;
    padding: 10px 20px;
    margin: 30px;
    position: relative;
    left: 35%;
    transition: all 0.5s;
    a{
        font-family: map-get($fonts, texto);
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 3px;
    }
    :hover{
        background-image: linear-gradient(#00659fa1,#00659fc1);
    }

}

@media only screen and (max-width: 768px){
    .banner{
        &__img{
            height: 300px;
        }
    }
   
    .footer__sec__ssn img{
        width: 250px;
    }

    .footer__sec__redes a{
        margin-right: 15px;
    }
    .boton__cotizacion{
        position: relative;
        left: 0%;
    }
}