.carousel-item{
    height: 400px;
    img{
        height: 400px;
    }
}

.card__item{
    border: solid 1px black;
    background-color: #fec72f58;
    height: 250px;
    @include flexbox (column, center);
    a{
        font-family: map-get($fonts, titulo);
        text-decoration: none;
        color: map-get($colores, principal);
        font-size: map-get($tamanio-tipografia, subtitulo);
    }
    img{
        height: 70px;  
    }
}
.card__item a:hover{
    transform: scale(1.2);
}

.quienesSomos{
    height: fit-content;
    background-color: map-get($colores, fondo);
    font-family: map-get($fonts, texto);
    @include textCenter(30px 200px,0px);
    p{
        font-weight: bold;
    }

}

.formulario{
    background-color: map-get($colores, principal);
    color: map-get($colores, fondo);
    font-family: map-get($fonts, texto);
    height: fit-content;
    @include textCenter (20px, 0px)
}
.form{
    &__item{
        padding: 10px;
        textarea{
            resize: none;
        }
        &__button{
            border-radius: 5px;
            padding: 5px;
        }
    }
}

@media only screen and (max-width:768px){
    .carousel-item{
        height: 250px;
        img{
            height: 250px;
        }
    }

    .quienesSomos{
        padding: 20px;
    }
}
